<h2>Registration</h2>


<form method="post" action=" ~/Registration/Add">
    <input type="text" name="@nameof(RegistrationViewModel.Email)" />
    <input type="text" name="@nameof(RegistrationViewModel.UserPassword)" />
    <p><input type="submit" /></p>
</form>
